* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Nav section */
.logo {
  margin-right: 20%;
}

.logo {
  width: 170px;
  height: 51.5px;
}

.lop-icons {
  display: flex;
  margin-left: 5%;
  margin-bottom: 2%;
}

.icons-lala {
  display: flex;
  margin-left: 140.86px;
}

.chipo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-self: center;
  text-align: center;
  background-color: #f8f7f0;
  margin-left: 10px;
}

.chipo > img {
  width: 14px;
  height: 14px;
  margin-top: 12px;
}

.text-icons {
  display: flex;
  margin: 0 30px;
}

.call,
.email,
.location {
  display: flex;
  margin-right: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icons-nav {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.iconsop {
  width: 145px;
}

.faintig {
  font-size: 12px;
}

.bolder {
  font-size: 14px;
  font-weight: bold;
}

/* sub nav section */

.the-sub-container {
  padding: 0.5% 30%;
  background-color: #f8f7f0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.home {
  text-decoration: none;
  margin-right: 10%;
  margin-top: 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
  color: #878680;
  font-family: "Manrope", sans-serif;
}

.About {
  text-decoration: none;
  margin-right: 10%;
  margin-top: 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
  color: #878680;
  font-family: "Manrope", sans-serif;
}

.service {
  text-decoration: none;
  margin-right: 10%;
  margin-top: 30px;
  font-weight: 800;
  font-size: 26px;
  line-height: 36px;
  color: #1f1e17;
  font-family: "Manrope", sans-serif;
}

.Project {
  text-decoration: none;
  margin-top: 30px;
  margin-right: 10%;
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
  color: #878680;
  font-family: "Manrope", sans-serif;
}

.New {
  text-decoration: none;
  margin-right: 10%;
  margin-top: 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
  color: #878680;
  font-family: "Manrope", sans-serif;
}

.Shop {
  text-decoration: none;
  margin-right: 10%;
  margin-top: 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
  color: #878680;
  font-family: "Manrope", sans-serif;
}

.Contact {
  text-decoration: none;
  margin-right: 10%;
  margin-top: 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
  color: #878680;
  font-family: "Manrope", sans-serif;
}

/* services section */

.Header-image {
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #71573a;
  margin-bottom: 5%;
}

/* Agrios details */

.noop {
  width: 170px;
  height: 125px;
  background-color: #fff;
  margin-left: 11%;
  text-align: center;
  border-radius: 10px;
  margin-top: 15%;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
}

.R-icon {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

.loop {
  width: 170px;
  height: 125px;
  background-color: #fff;
  margin-left: 8%;
  text-align: center;
  border-radius: 8px;
  margin-top: 15%;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
}

.C-icon {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

.poop {
  width: 170px;
  height: 125px;
  background-color: #fff;
  margin-left: 9%;
  text-align: center;
  border-radius: 10px;
  margin-top: 15%;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
}
.tool {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  position: relative;
}

.goop {
  width: 170px;
  height: 125px;
  background-color: #fff;
  text-align: center;
  margin-left: 7.5%;
  border-radius: 10px;
  margin-top: 15%;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
}

.lopo {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

/* the btn-1 */

.btn-1 {
  width: 75px;
  height: 35px;
  color: #fff;
  background-color: #4baf47;
  text-decoration: none;
  border-radius: 8px;
  margin-left: 50%;
  margin-bottom: 10%;
}

/* The float command */

.container {
  margin-bottom: 10%;
}

.big-container {
  position: relative;
  display: flex;
  width: 115%;
}

.lalu {
  width: 100%;
  background-color: #fff;
  margin-left: 10%;
  position: absolute;
}

.farm-water {
  margin-right: 1%;
}

.man-kinds {
  margin-left: 1%;
}

.vegi {
  margin-left: 1%;
}

.dump-img {
  margin-left: 1%;
}

/* press  */

#press {
  background-color: #f8f7f0;
  padding-bottom: 3%;
  text-align: center;
}

.press-logo {
  width: 10%;
  margin: 20px 20px 50px;
}

.moko {
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.three-slide {
  margin-left: 8%;
  position: absolute;
  margin-top: 390px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container-2 {
  position: relative;
}

.money {
  position: absolute;
}

.plok {
  margin-left: 13px;
}

/*healthy food for growth  */

.container-3 {
  position: relative;
}
.hope {
  position: absolute;
  margin-left: 2%;
  margin-top: 5%;
}
.fine {
  position: absolute;
  margin-left: 10%;
  height: 120px;
}

.papa {
  margin-bottom: 30%;
}

#growth {
  padding-top: 65%;
  margin-right: 2%;
  margin-bottom: 5%;
}

.toomy {
  padding-left: 53%;
}

.rica {
  margin-top: 10%;
}

.harvest {
  margin-right: 3%;
}

.maintain {
  margin-right: 1%;
}

.morpo {
  margin-left: 3%;
}

.cha {
  margin-top: 5%;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #878680;
}

.chu {
  margin-top: 5%;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #878680;
}

.mark {
  margin-top: 2%;
  font-family: "Manrope", sans-serif;
  font-size: 48px;
  font-weight: 800;
  color: #1f1e17;
  line-height: 57.6px;
}

.dodo {
  margin-top: 1%;
  font-family: "Covered By Your Grace", cursive;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #eec044;
}

/* The sub footer section */

#discover {
  padding-bottom: 2%;
  background-color: #4baf47;
  justify-content: center;
  align-items: center;
}

.btn-2 {
  width: 196.31px;
  height: 60px;
  top: 16.5px;
  left: 148.69px;
  padding: 15px 49.65px 15px 50px;
  gap: 0px;
  border-radius: 10px;
  opacity: 0px;
  background-color: #eec044;
  color: #fff;
  margin-left: 120%;
  text-decoration: none;
}

.Market {
  margin-left: 1%;
  width: auto;
  height: auto;
  margin-top: 10px;
  display: inline-block;
}

.lead {
  margin-left: 2%;
  margin-top: 20px;
  font-family: "Covered By Your Grace", cursive;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: #eec044;
}

.globally {
  margin-left: 2%;
  margin-top: 10px;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -3px;
  color: #fff;
  font-family: "Manrope", sans-serif;
}
