* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.general-spacing {
  padding: 2rem 18.75%;
  height: 150px;
  font-size: 1.5rem;
}

.nav {
  background-color: #fff;
  display: flex;
}

.contact-icons {
  display: flex;
}

.img-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-self: center;
  text-align: center;
  background-color: #f8f7f0;
  margin-left: 10px;
}

.img-circle > img {
  width: 14px;
  height: 14px;
  margin-top: 12px;
}

.social-icons {
  display: flex;
  margin-left: 140.86px;
}

.icons-with-text {
  display: flex;
  margin: 0 30px;
}

.call,
.mail,
.address {
  display: flex;
  margin-right: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-icons {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.icon-desc {
  width: 145px;
}

.faint-txt {
  font-size: 12px;
}

.bold-txt {
  font-size: 14px;
  font-weight: bold;
}

.top {
  background-color: rgb(0, 255, 13);
}

.main {
  background-color: rgb(255, 85, 0);
}

.footer {
  background-color: rgb(110, 70, 125);
}
